#popup {
  z-index: 20;
}
#popup button {
  z-index: 20px;
  background: none;
  border: none;
}

.popup__right {
  top: -10px;
  padding: 5px;
  display: flex;
  position: absolute;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.popup__left {
  padding: 5px;
  display: flex;
  position: absolute;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.popup__right > div,
.popup__left > div {
  display: flex;
}

img {
  margin: 0 3px;
  width: 30px;
}

@media screen and (min-width: 955px) {
  .popup__right {
    top: -20px;
    right: -10px;
  }

  .popup__left {
    top: -20px;
    left: 10px;
  }
}
