.popup__right {
  top: -50px;
  right: 30px;
  padding: 5px;
  display: flex;
  position: absolute;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.popup__left {
  top: -60px;
  left: 30px;
  padding: 5px;
  display: flex;
  position: absolute;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.popup__right > div,
.popup__left > div {
  display: flex;
}

img {
  margin: 0 3px;
  width: 30px;
}
